<div class="main-container">
  <div class="cards">
    <h4 id="listings-headline">Cooking equipment available this weekend </h4>
    <div class="row">
      <% @listings.each do |listing| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-frame">
      <%=  link_to (listing_path(listing)) do %>
          <div class="card-header">
            <h2> <%= listing.title %></h2>
          </div>
          <div class="image-wrapper">
            <%= cl_image_tag listing.photo.path, crop: :thumb %>
          </div>
          <div class="card-footer">
            <div class="card-info">
              <h2> <%= "#{listing.price} DKK / day" %> </h2>
              <p> <%=  listing.address %> </p>
            </div>
            <div class="red-circle-helper">
              <h2>i</h2>
            </div>
          </div>
        </div>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- Display all the listings -->
