<div class="main-container">
  <div class="cards-container">
    <form action="/listings" method="get" class="navbar-form">
       <div class="form-group">
        <input type="text" name="search" id="list_address" class="form-control" placeholder="Where are you?">
       </div>
       <input type="submit" value="Search" class="btn btn-primary btn-md">
     </form>
    <div class="row">
      <% @listings.each do |listing| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-frame">
          <%=  link_to (listing_path(listing)) do %>
          <div class="card-header">
            <h2> <%= listing.title %></h2>
          </div>
          <div class="image-wrapper">
            <%= cl_image_tag listing.photo.path, crop: :thumb %>
          </div>
          <div class="card-footer">
            <div class="card-info">
              <h2> <%= "#{listing.price} DKK / day" %> </h2>
              <p> <%=  listing.address %> </p>
            </div>
            <div class="red-circle-helper">
              <h2>i</h2>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="map"></div>
</div>


<% content_for(:after_js) do %>
  <script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>













