<h1>Listings#show</h1>
<p>Find me in app/views/listings/show.html.erb</p>

<h2><%= @listing.title %></h2>
<h3><%= @listing.description %></h3>
<p><%= @listing.address %></p>
<h4><%= @listing.price %></h4>

<%= link_to "Book now", new_listing_booking_path(@listing) %>
<p></p>
<%= link_to "Edit listing", edit_listing_path %>
<p></p>
<%= link_to "Delete listing", listing_path(@listing), method: :delete %>
<p></p>
<%= link_to "Back to all listings", listings_path %>
