<div class="banner"
 style="background-image: linear-gradient(-225deg, rgba(252,74,26,0.3) 0%, rgba(247,183,51,0.3) 50%), url('https://images.unsplash.com/photo-1447279506476-3faec8071eee?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
  <div class="banner-content">
    <h1>Got ricecooker?</h1>
    <p id="remove-bottom-margin">Borrow cooking equipment from your neighbors</p>
    <form class="navbar-form">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="What do you need?">
      </div>
      <%= link_to "Search", listings_path, class: "btn btn-primary btn-md", id: "cocktail-index" %>
    </form>
  </div>
</div>

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Sushi evening with friends?</h2>
      <p class="lead">Did you ever promise your friends an amazing Sushi evening, but you did not have the right equipment? Maybe it is too expensive. Maybe you would not use it often or just need it for that special evening. Worry no more. <strong> "Whats cookin" has you covered! </strong> </p>
    </div>
    <div class="col-md-5 ">
      <%= image_tag("sushi-front.jpg", class: "featurette-image img-responsive center-block", id: "sushi-pic") %>
    </div>
  </div>

  <hr class="featurette-diver">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Lend any kitchen tool!</h2>
      <p class="lead">Over 2 Million kitchen tools are available world wide. So whenever and whereever you plan a fancy dinner, all you need is just a klick away! </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("kitchen-front.jpg", class: "featurette-image img-responsive center-block", id: "kitchen-pic") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And the best thing</h2>
      <p class="lead">With every dollar you spend on any kitchen tool, there is one dollar donated to the popular charity foundation <strong>"Make pineapple pizza great again!"</strong> </p>
    </div>
    <div class="col-md-5">
      <%= image_tag("mamma_mia.jpg", class: "featurette-image img-responsive center-block", id: "mamma-pic") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row">
    <div class="col-xs-12 text-center">
      <%= link_to("Check out equipment near you", listings_path, class: "btn btn-primary btn-lg") %>
      </div>
  </div>

  <hr class="featurette-divider">

  <!-- This is a small js library to generate 500x500 images => remove after adding images -->
  <script src="https://getbootstrap.com/docs/3.3/assets/js/vendor/holder.min.js"></script>
</div>
